<div class="hero">
    <h1>Welcome to CSE - Motors</h1>
    <%- message() %>
    <div class="heromessages">
        <div class="heromessageoverlay"></div>
        <div class="message">
             <h1>DMC Delorean</h1>
             <ul>
                 <li>3 Cup holders</li>
                 <li>Superman doors</li>
                 <li>Fuzzy dice</li>
             </ul>
             <button>
                 Own Today
             </button>
        </div>
     </div>
     
     <div class="carnotes carreviews">
        <div class="notes">
            <h1>Delorean Upgrades</h1>
            <div class="upgrades">
                <figure>
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                    <figcaption>flux capacitor</figcaption>
                </figure>
                <figure>
                    <img src="/images/upgrades/flame.jpg" alt="flame Decal">
                    <figcaption>flame decal</figcaption>
                </figure>
                <figure>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    <figcaption>Bumper Sticker</figcaption>
                </figure>
                <figure>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                    <figcaption>Hub Cap</figcaption>
                </figure>
            </div>
        </div>
        <div class="reviews">
            <h1>Car reviews</h1>
            <ul>
                <li>"So fast it is almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road"(4/5)</li>
                <li>"I'm feeling McFly"(5/5)</li>
                <li>"The most futuristic ride of our day"(4.5/5)</li>
                <li>"80's living and I love it!"(5/5)</li>
            </ul>
        </div>
     </div>
</div>