@media only screen and (min-width: 851px){
  body{
      padding: 0 15rem;
      margin: 4px;
      font-family: 'Arial', sans-serif;
      width: 60%;
      background: url("/images/site/small_check.jpg");
      background-size: 100%;
      z-index: -1;
  }
  header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      font-size: large;
      padding: 0 1rem;
      
      a{  
          text-decoration: none;
          color: black;
          text-align: center;
      }

  }

  nav{
      display: flex;
      background-color: rgb(0, 1, 2);

      ul{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          list-style: none;
          text-transform: capitalize;
          color: white;

          a{
              color: white;
              text-decoration: none;
              font-weight: bold;
              padding: 10px;
          }

          a:hover{
              background-color: navy;
          }
      }
  }

  .heromessages{
      margin: 6% auto;
      height: auto;
      justify-content: center;
      align-items: center;
      padding: 0 10rem;
      height: 60vh;
      z-index: 0;
  }

  .heromessageoverlay{
      background-image: url('/images/vehicles/delorean-tn.jpg');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 30%;
      left: 22rem;
      width: 50%;
      height: 55%;
      z-index: 1;
  }

  
.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dad7d7c1;
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 1000;
  position: relative;
  
  ul li{
    list-style: none;
    padding: 0;
  }

  button{
    background-color:rgb(60, 65, 66);
    outline: none;
    border: none;
    border-radius: 2%;
    color: white;
    font-weight: bold;
    padding: .6rem;
    width: 90%;
  }
}

#wrapper{
  background-color: rgb(254, 253, 253);

}

.carnotes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.notes{
  display: flex;
  flex-direction: column; 
}

.upgrades{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.reviews{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.reviews>ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer{
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 4rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

}