<!-- this is the ejs file for the views this will include the header a message and the inventory items display-->
 <!--provide a title for the pages that is being viewed based on the category-->


 <!--if there is a title provided then the h1 tag will contain the value for the title else redirect.-->
<% if(title){
    <h1> <%= title %> </h1>
    <%} else{
        res.redirect('/')
    }
%>

// create a message block to help provide messages in case of errors
<%# message() %>

/* the ejs is meant to contain contents and not views hence all the code here is content based
    and does not work any logic

    provide the code to contain the display
*/

<%- grid %>
