<!-- this is the ejs file for the views this will include the header a message and the inventory items display-->
 <!--provide a title for the pages that is being viewed based on the category-->


 <!--if there is a title provided then the h1 tag will contain the value for the title else redirect.-->
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } 
%>

<%# messages() %>

<%- grid %>