<!--contains a header and a title tag for identification-->
<% if (title) { %>
    <h1><%= title %></h1>
    </h1>
    <%} else {
        res.redirect("/");
    } 
%>

<!--display a flash message from the inventory controller-->
<%- message()  %>


<!--view contains two links add-to-classification and add-new-inventory -->
<div class="add_new_inventory ">
    <a href="/add_inventory" class="btn btn-primary">Add to inventory</a>
</div>
<div class="add_to_classification ">
    <a href="/add_classification" class="btn btn-primary">Add to Classification</a>
</div>