<!--contains a header and a title tag for identification-->
<% if (title) { %>
    <h1><%= title %></h1>
    </h1>
    <%} else {
        res.redirect("/");
    } 
%>

<!--display a flash message from the inventory controller-->
<%- message()  %>


<!--view contains two links add-to-classification and add-new-inventory -->
<div class="add_classification ">
    <a href="./addinventory" class="btn btn-primary">Add to Inventory</a>
</div>
<div class="./add_classification ">
    <a href="./addclassification" class="btn btn-primary">Add to Classification</a>
</div>